@import '../../variables';


.contact-form {
  width: 100%;
  margin-top: 28px;

  ul {
    padding: 0;
    margin: 0;
    
    li {
      padding: 0;
      margin: 0; 
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    } 
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: $stroke;
    height: 50px;
    font-size: 16px;
    color: $primary-color;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea{
    width: 100%;
    border: 0;
    background: $stroke;
    height: 50px;
    font-size: 16px;
    color: $primary-color;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: $primary-color;
    background: 0 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $primary-color;
    margin-top: 25px;
    float: right;

    &:hover {
      color: $stroke;
      background-color: $primary-color;
    }
  }
}

.notify {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 15px;
  
}
