$bg-color: #232946;

$primary-color: #fffffe;

$secondary-color: #b8c1ec;

$button-color: #eebbc3;

$button-text: #232946;

// Illustration

$stroke: #121629;

$main: #b8c1ec;

$highlight: #eebbc3;

$secondary: #fffffe;

$tertiary: #eebbc3;